body {
  margin: 0;
  background-color: black;
}

button {
  cursor: pointer;
}

.point-pack-container {
  position: relative;
}

.point-pack-canvas {
  border: solid 4px rgb(121, 121, 121);
}

.point-pack-user-interface-container {
  position: absolute;
  left: 1rem;
  top: 1rem;
  background-color: rgba(141, 141, 141, 0.572);
  color: white;
}

.pkui-display {
  padding: 1rem;
}

.pkui-display * {
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  align-items: center;
  margin-top: 0;
}

.pkui-input {
  width: 4rem;
}

.pkui-submit {
  cursor: pointer;
  width: 100%;
}